<h1>Product List </h1>
<div>
  <% cart.each do |p| %>
  <li><%= p %></li>
  <% end %>
</div>

<%= form_tag ({controller: 'products',
    action: 'add',
    method: 'post'}) do %>
    <input name=product>
    <input type=submit value='add to cart'>
<% end %>
